html, body {
    height: 100%;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    overflow-x: hidden;
    height: auto;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100; 
    left: 0;
    top: 0;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    flex-grow: 1;
}

.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 2px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
}

.menu li {
    margin-right: 30px;
}

.menu a {
    color: #333;
    text-decoration: none;
}

.logo {
    margin-right: 60px;
    margin-left: 30px;
}

.btn {
    border-radius: 30px;
    background-color: deepskyblue;
    font-weight: 300;
    padding: 10px 35px;
    margin-right: 20px;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.btn a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn a:hover {
    color: #333;
}

.btn:hover {
    background-color: #85FDFD;
    color: #333;
}

.lk {
    margin-right: 30px;
    margin-left: 10px;
}

.content {
    margin-top: 130px;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: left;
    background-size: cover;
    background-position: center;
    min-height: 300px;
}

.content .container {
    width: 800px;
}

.content h1 {
    font-size: 40px;
    color: white;
    font-weight: 700;
}

.content p {
    font-size: 20px;
    color: white;
}

.section-padding {
    display: flex;
    padding: 50px 0;
}

.section-padding .container {
    font-size: 20px;
    display: flex;
    color: #333;
    font-weight: 300;
    text-decoration: none;
}

.price {
    display: flex;
    
}

.price_left {
    min-width: 500px;
    width: auto;
    text-align: left;
    color: #333;
}

.price h2 {
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

.price_link {
    text-decoration:underline;
    color: #333;
    font-style: italic;
}

.price_link:hover {
    color: aqua;
}

.price_right {
    margin-top: 30px;
    width: auto;
    display:inline-grid;
    line-height: 2;
}

.price_right a {
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.price_list_title {
    text-align: left;
}

.price_list .cost {
    text-align: right;
    min-width: 800px;
    opacity: 0.5;
}

.info {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    text-align: left; 
}

.info .container {
    width: auto;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    width: 100%;
    text-align: left;
}

.info p {
    font-size: 20px;
    color: #333;
}

footer {
    width: auto;
    background-color: rgba(0, 191, 255, 0.2);
    text-align: center;
    height: 120px;
}

footer .ft {
    display: inline-grid;
    line-height: 0.2;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer h3 {
    font-size: 16px;
    font-weight: 300;
    color: #333;
}

footer h4 {
    font-size: 16px;
    font-weight: 300;
    color: #333;
}

.prices {
    padding: 50px 30px;
}

.container {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.prices_container {
    margin-top: 130px; 
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.doctor_container{
    margin-top: 130px; 
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.dis_container {
    margin-top: 130px; 
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.contact_container {
    margin-top: 130px; 
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.auth_container {
    margin-top: 130px; 
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.reg_container {
    margin-top: 130px; 
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.prices {
    background-color: rgba(251, 251, 251, 1);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    display:inline-grid;
    min-width: 1250px;
    padding-top: 0;
}

.prices a {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.prices_title {
    padding-bottom: 30px;
}

h5 {
    font-size: 22px;
    color: rgba(0, 191, 255, 1);
}

IMG.sale {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.authorization {
    width: 450px;
    padding-bottom: 30px;
    background-color: rgba(251, 251, 251, 1);
    margin: 80px auto 60px auto;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    text-align: center;
}

.authorization img {
    width: 100px;
    height: 100px;
    margin: -40px 0 0 0;
}

h6 {
    font-weight: 700;
    font-size: 22px;
    color: #333;
    margin: 20px 0 30px 0;
}

input[type="text"], input[type="password"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.form-submit {
    padding: 14px 40px;
    margin: 5px 0 20px 0;
    font-size: 16px;
    background-color: deepskyblue;
    color : white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 4px 4px 8px 0px #CDCDCD;
    font-family: 'Montserrat', sans-serif;
}

.form-submit:hover {
    background-color: #85FDFD;
    color: #333;
}

.form-input input[type="text"]:hover {
    box-shadow: 0 0 6px 3px #85FDFD;
}

.form-input input[type="password"]:hover {
    box-shadow: 0 0 6px 3px #85FDFD;
}

.tooltip {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: rgba(0, 194, 255, 0.4);
    margin-left: 375px;
    margin-bottom: -20px;
    user-select: none;
}

.tooltip:before {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    color: #333;
    font-weight: 300;
    font-size: 16px;
    padding: 10px 14px;
    background-color: rgba(222, 245, 252, 1);
    width: 250px;
    border-radius: 12px;
    transition: inherit;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
}

.tooltip:hover {
    background-color: rgba(0, 194, 255, 0.8);
}

.tooltip:hover:before {
    opacity: 1;
    visibility:visible;
    z-index: 10;
    bottom: calc(100% + 10px);
}

.leftside_bar {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 40px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: 275px;
}

.leftside_bar_title {
    padding: 40px 15px;
    width: 100%;
    padding-top: 15px;
}

h7 {
    font-weight: 700;
    font-size: 22px;
    color: #333;
}

.leftside_list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 12px;
    background-color: rgba(251, 251, 251, 1);
    width: 235px;
    height: 250px;
}

.leftside_list a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 10px 0px;
    margin: 10px 0px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    width: 100%;
    color: #333;
}

.leftside_list a:hover {
    color: deepskyblue;
}

.right_info_profile {
    width: 100%;
    min-width: 1100px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.right_info {
    width: 100%;
    min-width: 1100px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.private_office {
    margin-top: 130px;
    display: inline-flex;
    box-sizing: border-box;
    padding: 30px 45px;
    width: 100%;
    padding-bottom: 100px;
}

.page_content {
    position: relative;
    width: 100%;
    padding: 30px 100px;
}

.person {
    display: inline-flex;
    box-sizing: border-box;
}

.person_info {
    padding: 25px 50px;
    width: 100%;
}

.person_header {
    padding-bottom: 20px;
}

.short_info p {
    margin: 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
}

.medcart {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0px;
    padding: 0px;
}

.appointment {
    display: flex;
    flex-wrap: wrap;
}

.card_info { 
    display: table-row;
    min-height: 200px;
    background-color: rgba(251, 251, 251, 1);
    padding-left: 20px;
    padding-top: 20px;
    width: 450px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 4px 4px 8px 0px #CDCDCD;
    flex-wrap: wrap;
    border-radius: 12px;
}

h8 {
    font-weight: 700;
    font-size: 20px;
    color: deepskyblue;
    margin-top: 20px;
}

.line {
    align-content: center;
    margin-top: 10px;
    border-bottom: 1px solid rgba(128, 128, 128);
    width: 420px;
}

.card_info p {
    padding-bottom: 10px;
    padding-top: 15px;
    word-wrap: break-word;
    font-size: 16px;
}

.part {
    display: flex;
}

.part img {
    padding-top: 15px;
    padding-right: 10px;
}

.sum {
    text-align: right;
    margin-right: 30px;
}

.doctors {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 30px;
}

.doc_info {
    display: flex;
    flex-direction: row;
    min-height: 200px;
    background-color: rgba(251, 251, 251, 1);
    border-radius: 12px;
    padding-left: 50px;
    width: 750px;
    margin-bottom: 50px;
}

h9 {
    font-weight: 700;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.doc_photo {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-left: 50px;
}

.doc_name {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 400px; 
}

.doc_name a {
    font-weight: 700;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.doc_name a:hover {
    color: deepskyblue;
}

.contacts {
    display: flex; 
    padding-bottom: 235px;
    padding-top: 30px;
}

.info_contacts {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left; 
    margin-right: 65px;
    
}

.info_contacts p {
    font-size: 20px;
    color: #333;
}

.contacts img {
    margin-right: 10px;
}

.registration {
    width: 550px;
    padding-top: 15px;
    background-color: rgba(251, 251, 251, 1);
    margin: 80px auto 60px auto;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    text-align: center;
}

.registration img {
    width: 100px;
    height: 100px;
    margin: -40px 0 0 0;
}

.authorization a {
    color: dimgrey;
}

.authorization a:hover {
    color: deepskyblue;
}

.header_profile img {
    width: 380px;
    height: 380px;
    margin: -100px 0 0 0;
    border-radius: 45px;
}

.header_profile {
    background-color: rgba(217, 217, 217, 0.5);
    width: 1200px;
    align-items: center;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 4px 6px 4px 0px #D0D0D0;
}

h10 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #333;
    padding-top: 20px;
    padding-bottom: 10px;
}

h11 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    padding-bottom: 5px;
}
 
.header_profile .btn {
    box-shadow: 4px 4px 8px 0px #CDCDCD;
    margin-top: 15px;
    margin-left: 10px;
}

.doctor_info {
    margin-left: 60px;
    text-align: left;
    margin-top: 30px;
}

.doctor_info_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: deepskyblue;
    padding-bottom: 10px;
}

.doctor_info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
}

.all {
    padding-top: 10px;
}
#slider { 
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ 
	margin: 0 auto;
}

#slides article{ 
	width: 20%;
	float: left;
}

#slides .image{ 
	width: 250%;
    height: auto;
	line-height: 0;
}

#overflow{ 
	width: 100%;
	overflow: hidden;
}

article img{
	width: 100%;
}

#desktop:checked ~ #slider{ 
	max-width: 960px; 
}

#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4)


#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1)

label, a{ 
	cursor: pointer;
}

.all input{ 
	display: none;
}

#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ 
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ 
	border-radius: 10px; 
	display: inline-block; 
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ 
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ 
	background: #76c8ff;
	border-color: #777 !important; 
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ 
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

h12 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #333;
    padding-bottom: 10px;
}

.row_schedule {
    display: flex;
    margin-top: 20px;
    overflow-x: scroll;
    margin-bottom: -20px;
}

.row_schedule_btn {
    display: inline-block;
    border-radius: 5px;
    padding: 10px 0px;
}

.row_schedule_btn input[type="radio"] {
    display: none;
}

.row_schedule_btn input[type="radio"]:checked+label {
    background-color: deepskyblue;
    color: white;
    border-radius: 5px;
}

.row_schedule_btn:last-child{
    margin-right: 0;
}

.row_schedule_btn label {
    border-radius: 5px;
    font-size: 16px;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(217, 217, 217, 0.5);
    color: #333;
    font-weight: 500;
    padding: 10px 50px;
    margin-right: 10px;
}

.row_schedule::-webkit-scrollbar {
    width: 0;
}

.button {
    display: flex;	
    justify-content: center;
    margin-top: 40px;
}

.doctor_info .form-submit {
    font-size: 16px;
    background-color: deepskyblue;
    color : white;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 4px 4px 8px 0px #CDCDCD;
    font-family: 'Montserrat', sans-serif;
}

.doctor_info .form-submit:hover {
    background-color: #85FDFD;
    color: #333;
}

.name_d {
  position: relative;
  border: transparent;
}

.name_d select {
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 700;
  color:#000;
  margin-top: 12px;
  background: transparent;
  border: 0;
  appearance: none;            /* remove arrow        */
  -webkit-appearance: none;    /* remove arrow Chrome */
  -moz-appearance: none;       /* remove arrow FF     */
}
.name_d select::-ms-expand{
    display: none;             /* remove arrow IE     */
}




